{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Undersøgelsen er færdig', 'fa fa-check-square-o', company) }}
    {{ formatter.title('Tak fordi du tog dig tid til at deltage i undersøgelsen') }}
    <p>
        Dine svar er registreret og du kan lukke din browser nu.<br />
        Hvis du ønsker at kommentere undersøgelsen skal du klikke dig videre...
    </p>
    {{ formatter.footer(null, { 'path': path('_feedback_with_id', { 'id': survey.token }), 'label': 'Kommenter' }) }}
</div>
{% endblock %}
