{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Undersøgelsen kan ikke gennemføres', 'fa fa-bomb') }}
    <p>
        Der er opstået et problem som forhindrer at undersøgelsen kan gennemføres.
    </p>
    <pre>{{ error }}</pre>
    <p>
        Start igen ved at klikke på det link der er tilsendt i en e-mail. Vi beklager ulejligheden!
    </p>
    <p>
        Hvis du ønsker at kommentere undersøgelsen eller angive yderligere information, skal du klikke dig videre...
    </p>
    {{ formatter.footer(null, { 'path': path('_feedback'), 'label': 'Kommenter' }) }}
</div>
{% endblock %}
