{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block instruction "Undersøgelsen kan ikke gennemføres" %}

{% block maincontent %}
    <div class="form_header">
        <div class="form_header_inner">
            Undersøgelsen kan ikke gennemføres
        </div>
    </div>


    <div class="form_content">
        <form action="{{ path('_feedback') }}" method="POST">
            <p>Der er opstået et problem som forhindrer at undersøgelsen kan gennemføres.</p>
            <pre>{{ error }}</pre>
            <p>Start igen ved at klikke på det link der er tilsendt per e-mail. Vi undskylder ulejligheden!</p>
            <p>Hvis du ønsker at kommentere undersøgelsen eller angive yderligere information skal du klikke dig videre...</p>
            <div style="float: right;">
                <input type="button" name="feedback" value="Kommenter" class="form_button" onClick="window.location='{{ path('_feedback') }}'"/>
            </div>
            <div class="query_clear"></div>
        </form>
    </div>
{% endblock %}
