{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Tak', 'fa fa-thumbs-o-up') }}
    <p>Tak fordi du tog dig tid til at give dine kommentarer.</p>
    {{ formatter.footer() }}
</div>
{% endblock %}
