{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block instruction "Tak" %}

{% block maincontent %}
    <div class="form_header">
        <div class="form_header_inner">
            Tak for dine kommentarer
        </div>
    </div>

    <div class="no_form_content">
        <p>Tak fordi du tog dig tid til at give dine kommenterer.</p>
    </div>
{% endblock %}
