{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% form_theme form 'TrainingCompanyQueryBundle::layout.script.html.twig' %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Kommentar', 'fa fa-reply') }}
    {{ formatter.title('Du har her mulighed for at give dine kommentarer eller feedback') }}
    <p>
        Hvis du har haft problemer med en undersøgelse, bedes du beskrive problemet
        så grundigt som muligt, så vi har mulighed for at afprøve en løsning.
    </p>
    {{ form(form) }}
    {{ formatter.footer() }}
</div>
{% endblock %}
