{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block maincontent %}
<div class="container" style="padding-top: 10px; padding-bottom: 10px; width: 300px;">
    <img src="{{ asset( 'bundles/trainingcompanyquery/images/trncmp_logo.jpg' ) }}" alt="logo" class="img-responsive" />
</div>
<div class="container" role="main">
    <h2 style="margin-bottom: 0;"><i class="fa fa-thumbs-o-up">&nbsp;</i>{% trans %}Tak{% endtrans %}</h2>
    <p>Tak fordi du tog dig tid til at give dine kommentarer.</p>
</div>
{% endblock %}
