{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block maincontent %}
<div class="container" role="main">
    <h2 style="margin-bottom: 0;"><i class="fa fa-check-square-o">&nbsp;</i>{% trans %}Undersøgelsen er færdig{% endtrans %}</h2>
    {% if survey.state == 2 %}
    <p>Denne undersøgelse er afsluttet og vi takker fordi du tog dig tid til at deltage i undersøgelsen.</p>
    {% elseif survey.state == 3 %}
    <p>Denne undersøgelse er udløbet. Du har angivet at du ikke ønskede at deltage i undersøgelsen.</p>
    {% endif %}
    <p>Hvis du ønsker at tilføje kommentarer til undersøgelsen skal du klikke dig videre...</p>
    <nav>
      <ul class="pager">
        <li class="next">
            <a href="{{ path('_feedback') }}">Kommenter <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>
</div>
{#
<div style="float: left;">
    <img src="{{ asset('bundles/trainingcompanyquery/images/ID-10046440.jpg') }}" style="width: 230px;">
</div>
#}
{% endblock %}
