{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block maincontent %}
<div class="container" role="main">
    <h2 style="margin-bottom: 0;"><i class="fa fa-child">&nbsp;</i>{% trans %}Respondentoplysninger mangler{% endtrans %}</h2>
    <p>The Training Company udfører undersøgelser i forbindelse med træningsforløb.</p>
    <p>Som deltager i et træningsforløb får du tilsendt en invitation på e-mail med anvisning om hvordan du deltager i undersøgelsen.</p>
    <p>Hvis du mangler at modtage en invitation kan du kontakte os ved at klikke dig videre...</p>
    <nav>
      <ul class="pager">
        <li class="next">
            <a href="{{ path('_feedback') }}">Kommenter <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}
