{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Respondentoplysninger mangler', 'fa fa-bomb') }}
    <p>
        Det er ikke muligt at fastslå din identitet i undersøgelsen på baggrund af de givne oplysninger.
    </p>
    <p>
        Start igen ved at klikke på det link der er tilsendt i en e-mail. Vi beklager ulejligheden!
    </p>
    <p>
        Hvis du ønsker at kommentere undersøgelsen eller angive en årsag til os, skal du klikke dig videre...
    </p>
    {{ formatter.footer(null, { 'path': path('_feedback'), 'label': 'Kommenter' }) }}
</div>
{% endblock %}
