{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% form_theme form 'TrainingCompanyQueryBundle::layout.script.html.twig' %}

{% block maincontent %}
<div class="container" role="main">
    <h2 style="margin-bottom: 0;"><i class="fa fa-sign-in">&nbsp;</i>{% trans %}Log ind{% endtrans %}</h2>
    <p>Adgang til dette område kræver authorisation. Log venligst ind med dit brugernavn og kodeord.</p>
    {{ form(form) }}
</div>
{% endblock %}
