{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Fravalg af undersøgelsen', 'fa fa-trash-o', company) }}
    {{ formatter.title('Du har valgt ikke at gennemføre undersøgelsen') }}
    <p>
        Vi sætter stor pris på, at du bruger et øjeblik på at give din kommentar til undersøgelsen.
        Det er vigtigt for os at høre din mening og især, hvorfor du ikke fik lejlighed til at gennemføre
        undersøgelsen.
    </p>
    <p>
        Med venlig hilsen<br />
        {{ signer }}
    </p>
    {{ formatter.footer(null, { 'path': path('_feedback_with_id', { 'id': id }), 'label': 'Kommenter' }) }}
</div>
{% endblock %}
