{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block title "Training Company" %}
{% block punchline "Din udvikling - vores mission" %}
{% block headline "En bedre hverdag for dig!" %}
{% block instruction "Fravalg af undersøgelsen" %}

{% block maincontent %}
    <div class="form_header">
        <div class="form_header_inner">
            Fravalg af undersøgelsen
        </div>
    </div>

    <div class="form_content">
        <form action="{{ path('_feedback') }}" method="POST">
            <p>Du har valgt ikke at gennemføre undersøgelsen.</p>
            <p>Vi sætter stor pris på at du bruger et øjeblik på at give din kommentarer til undersøgelsen.
               Det er vigtigt for os at høre din mening og især hvorfor du ikke fik lejlighed til at gennemføre
               undersøgelsen.</p>
            <div style="float: right;">
                <input type="button" name="feedback" value="Kommenter" class="form_button" onClick="window.location='{{ path('_feedback') }}'"/>
            </div>
            <div class="query_clear"></div>
        </form>
    </div>
{% endblock %}
