{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block maincontent %}
<div class="container" role="main">
    <h2 style="margin-bottom: 0;"><i class="fa fa-arrow-circle-right">&nbsp;</i>{% trans %}Velkommen{% endtrans %}</h2>
    <p>Kære {{ name }}</p>
    <p>Tak fordi du tager dig tid til at deltage i undersøgelsen.</p>
    <p>Tryk på ''Start'' for at gå i gang med besvarelsen.</p>
    <nav>
      <ul class="pager">
        <li class="next">
            <a href="{{ path('_survey') }}">Start <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}
