{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block maincontent %}
<div class="container" role="main">
    <h2 style="margin-bottom: 0;"><i class="fa fa-paperclip">&nbsp;</i>{% trans %}Udsæt undersøgelsen{% endtrans %}</h2>
    <p>Du har valgt at udsætte undersøgelsen.</p>
    <p>Dine svar indtil nu er registreret og du kan lukke din browser nu.</p>
    <p>Når du er klar til at fortsætte undersøgelsen skal du klikke på det link der er tilsendt per e-mail...</p>
    <p>Hvis du allerede nu ønsker at fortsætte undersøgelsen kan du klikke dig tilbage....
    <nav>
      <ul class="pager">
        <li class="next">
            <a href="{{ path('_survey') }}">Genoptag undersøgelse <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}
