{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Udsæt undersøgelsen', 'fa fa-paperclip', company) }}
    {{ formatter.title('Du har valgt at udsætte undersøgelsen') }}
    <p>
        Dine svar indtil nu er registreret og du kan lukke din browser nu.
        <span class="hidden-xs"><br /></span> 
        Når du er klar til at fortsætte undersøgelsen har du også mulighed for at benytte din mobil eller tablet.
        Du skal blot klikke på det link der er tilsendt i en e-mail...
    </p>
    <p>
        Hvis du allerede nu ønsker at fortsætte undersøgelsen kan du klikke dig tilbage....
    </p>
    <div class="visible-xs-block">
        {{ formatter.footer(null, { 'path': path('_survey_xs'), 'label': 'Genoptag undersøgelse [mobile]' }) }}
    </div>
    <div class="hidden-xs">
        {{ formatter.footer(null, { 'path': path('_survey'), 'label': 'Genoptag undersøgelse' }) }}
    </div>
</div>
{% endblock %}
