{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}
{% import "TrainingCompanyQueryBundle:Macro:pageheader.html.twig" as formatter %}

{% block maincontent %}
<div class="container" role="main">
    {{ formatter.header('Undersøgelsen er udløbet', 'fa fa-coffee') }}
    {{ formatter.title('Det er ikke muligt at fastslå din identitet i undersøgelsen') }}
    <p>
        The Training Company undersøgelse benytter sig af cookies til at huske din identitet
        under hele undersøgelsen. Hvis der går for lang tid mellem dine svar kan disse cookies
        forældes og undersøgelsen betragtes som udløbet.
    </p>
    <p>
        De spørgsmål du allerede har besvaret er gemt.
        Du kan blot fortsætte ved at klikke på det link der er tilsendt i en e-mail. Vi beklager ulejligheden!
    </p>
    <p>
        Hvis du ønsker at kommentere undersøgelsen eller angive en årsag til os skal du klikke dig videre...
    </p>
    {{ formatter.footer(null, { 'path': path('_feedback'), 'label': 'Kommenter' }) }}
</div>
{% endblock %}
