{% extends "TrainingCompanyQueryBundle::layout.html.twig" %}

{% block title "Training Company" %}
{% block punchline "Din udvikling - vores mission" %}
{% block headline "En bedre hverdag for dig!" %}
{% block instruction "Undersøgelsen er udløbet" %}

{% block maincontent %}
    <div class="form_header">
        <div class="form_header_inner">
            Undersøgelsen er udløbet
        </div>
    </div>

    <div class="form_content">
        <form action="{{ path('_feedback') }}" method="POST">
            <p>Det er ikke muligt at fastslå din identitet i undersøgelsen da de givne oplysninger er udløbet.</p>
            <p>Start igen ved at klikke på det link der er tilsendt per e-mail. Vi beklager ulejligheden!</p>
            <p>Hvis du ønsker at kommentere undersøgelsen eller angive en årsag til os skal du klikke dig videre...</p>
            <div style="float: right;">
                <input type="button" name="feedback" value="Kommenter" class="form_button" onClick="window.location='{{ path('_feedback') }}'"/>
            </div>
            <div class="query_clear"></div>
        </form>
    </div>
{% endblock %}
