body {
	font-family: Helvetica;
    margin: 0;
}

#background_image {
    position: absolute;
    z-index: -100;
    width: 100%;
}

#top_bar {
    background-color: white;
    height: 85px;
    width: 100%;
    -moz-border-radius-bottomright: 60px;
    border-bottom-right-radius: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-bottom-left-radius: 60px;
}

#logo {
    margin-top: 10px;
    margin-left: 70px;
    width: 150px;
    float: left;
}

#punchline {
    margin-top: 40px;
    margin-right: 70px;
    font-size: 16pt;
    float: right;
}

#wrapper {
    margin: 0 auto;
    width: 750px;
}

#content_spacer {
    height: 20px;
    clear: both;
}

#redfield {
    color: white;
    background-color: red;
    width: 355px;
    height: 25px;
    padding: 10px;
    text-align: center;
    font-size: 18pt;
    float: left;
}

#bluefield {
    color: white;
    background-color: #0000ff;
    width: 355px;
    height: 25px;
    padding: 10px;
    text-align: center;
    font-size: 18pt;
    float: left;
}

.form_content {
    width: 100%;
    background-color: #E9E9E9;
}

.form_content form {
    padding:10px;
}

.form_header {
    height:21px;
    width: 100%;
    background-color: #026890;
    color: white;
    font-weight:bold;
}

.form_header_inner {
    padding: 3px 3px 3px 3px;
}

.query_row {
    padding-bottom: 10px;
}

.query_label {
	width: 250px;
	float: left;
}

.query_widget {
	float: left;	
}

.query_choices_scale {
	float: left;
	text-align: center;
	width: 45px;
	padding-bottom: 10px;
}

.query_choices_satisfaction {
	float: left;
	text-align: center;
	width: 60px;
	padding-bottom: 10px;
}

.query_clear {
    clear:both;
}

.form_widget textarea {
    height:200px;
}

.form_button {
	font-size: 24pt;
    font-weight:bold;
}